<mat-toolbar color="primary">
  <span class="app-title">
    <a routerLink="/" class="app-link">
      Test
    </a>
  </span>
  <span class="spacer"></span>
  <ul class="nav-list" style="display: flex; list-style: none; margin: 0; padding: 0;">
    <li *ngIf="userIsAuthenticated" class="nav-item" style="margin-right: 10px;">
      <a mat-button routerLink="/create" style="color: white;"> New Post</a>
    </li>
    <li *ngIf="userIsAuthenticated" class="nav-item" style="margin-right: 10px;">
      <a mat-button routerLink="/profile" style="color: white;"> Profile</a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="nav-item" style="margin-right: 10px;">
      <a mat-button routerLink="/login" style="color: white;"> Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated" class="nav-item" style="margin-right: 10px;">
      <a mat-button routerLink="/signup" style="color: white;"> Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated" class="nav-item" style="margin-right: 10px;">
      <button mat-button (click)="onLogout()" style="color: white;"> Logout</button>
    </li>
  </ul>
  <button mat-icon-button (click)="toggleTheme()" style="color: white;">
    <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
</mat-toolbar>
