<mat-toolbar color="primary">
  <span class="app-title">
    <a routerLink="/" class="app-link">
      Test
    </a>
  </span>
  <span class="spacer"></span>
  <ul class="nav-list" style="display: flex; list-style: none; margin: 0; padding: 0;">
    <li class="nav-item" style="margin-right: 10px;">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent" style="color: white;"> New Post</a>
    </li>
    <li class="nav-item" style="margin-right: 10px;">
      <a mat-button routerLink="login" routerLinkActive="mat-accent" style="color: white;"> Login</a>
    </li>
    <li class="nav-item" style="margin-right: 10px;">
      <a mat-button routerLink="signup" routerLinkActive="mat-accent" style="color: white;"> Signup</a>
    </li>
  </ul>
</mat-toolbar>
