<form [formGroup]="pwForm" (ngSubmit)="onSubmit()">
  <input
    type="password"
    formControlName="oldPassword"
    placeholder="Current Password"
  />
  <div *ngIf="pwForm.get('oldPassword')?.invalid && pwForm.touched">
    Required
  </div>

  <input
    type="password"
    formControlName="newPassword"
    placeholder="New Password"
  />
  <input
    type="password"
    formControlName="confirm"
    placeholder="Confirm New Password"
  />
  <div *ngIf="pwForm.hasError('mismatch')">
    Passwords do not match
  </div>

  <button type="submit" [disabled]="pwForm.invalid">Change Password</button>
</form>
